@media (min-width: 768px)

{

    #container_card
    {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }


    main div .card 
    {
        width: 18rem;
    }
}